body {
	margin: 0;
	font-family: Helvetica;
	background: rgb(233,239,246);
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#unicorn {
	width: 80px;
}